* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 23,5rem;
    font-size: 1,2rem;
    background-color: var(--backgroundgrey);
}

:root {
    --accentred: #FF6B6B;
    --darkgrey: #3C3B34;
    --backgroundgrey: #EAEAE6;
    --lightgrey: #C6C5BD;
}

.lifely-logo {
    width: 6rem;
    padding-top: 1rem;
}

.headerpicture {
    width: 20rem;
}

.moto {
    font-size: 1.5rem;
    text-decoration: .25rem underline var(--accentred);
}

.AI-introduction {
    background-color: var(--lightgrey);
    padding-bottom: 1rem;
}

.AI-intro-text {
    padding-top: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.AI-intro-info {
    padding-left: .5rem;
}

.AI-introduction-picture {
    width: 20rem;
    height: auto;
}

.design-sprint {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-design-sprint {
    padding-left: .5rem;
}

.AI-team {
    width: 20rem;
}

/* .steps-section {
    background-color: var(--lightgrey);
} */

.text-steps {
    padding-left: .2rem;
    padding-top: .5rem;
    font-size: 1.5rem;
}

.the-steps {
    padding-bottom: .5rem;
}

.step-1-div, .step-2-div, .step-3-div, .step-4-div, .step-5-div {
    background-color: white;
    box-shadow: 0px 0px 10px 1px black;
    /* border-radius: 5%; */
}

.step-1, .step-2, .step-3, .step-4, .step-5 {
    color: var(--accentred);
    padding-top: 1rem;
    padding-left: .7rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.step-information {
    padding-left: .5rem;
}

.subtitle-steps {
    padding-left: .5rem;
    font-weight: bold;
}

.step-pictures {
    padding-left: .5rem;
    width: 20rem;
    padding-bottom: 2rem;
}

.previouswork {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact-appointment {
    background-color: var(--lightgrey);
    padding-top: .5rem;
    padding-left: .5rem;
}

.contact {
    text-decoration: .25rem underline var(--accentred);
}

.appointment-planner {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.meeting-planner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-appointment {
    width: 15rem;
    height: 2rem;
    /* border-radius: 5%; */
    background: transparent;
}

.send-button {
    background-color: white;
    border-color: var(--accentred);
    /* border-radius: 1.875rem; */
    height: 2rem;
    width: 4rem;
    transition: .2s ease-in-out;
    font-weight: bold;
    color: var(--accentred);
    margin-top: 1rem;
}

.send-button:hover {
    background-color: var(--accentred);
    cursor: pointer;
    color: white;
}

.related-articles {
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: .5rem;
}


.footer-information {
    background-color: var(--darkgrey);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.footer-header {
    color: white;
    font-weight: bold;
}

.footerlist {
    list-style: none;
    padding-left: 1.5rem;
    color: white;
    font-weight: lighter;
}

.footerlist:hover {
    color: var(--accentred);
    cursor: pointer;
}


/* @media screen and (min-width: 600px) {
    body {
      background-color: blue;
    }
  } */