* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 23,5rem;
    font-size: 1,2rem;
    background-color: var(--backgroundgrey);
}

:root {
    --accentred: #FF6B6B;
    --darkgrey: #3C3B34;
    --backgroundgrey: #EAEAE6;
    --lightgrey: #C6C5BD;

    --font-bold: 1.2rem AktivBd, sans-serif; 
    --font-light: .9rem AktivLt, sans-serif;
    --font-medium: 1.1rem AktivMd, sans-serif;
    --font-regular: 1rem AktivRg, sans-serif;
}

@font-face {
    font-family: Aktiv Grotesk;
    src: url(AktivGrotesk_Rg.ttf);
}

@font-face {
    font-family: Aktiv Grotesk;
    src: url(AktivGrotesk_Md.ttf);
}

@font-face {
    font-family: Aktiv Grotesk;
    src: url(AktivGrotesk_Lt.ttf);
}

@font-face {
    font-family: Aktiv Grotesk;
    src: url(AktivGrotesk_Bd.ttf);
}

html {
    scroll-behavior: smooth;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-button {
    margin-top: 2rem;
    margin-right: 2rem;
    padding: .3rem;
    border: 1px solid var(--accentred);
    background-color: var(--accentred);
    color: white;
    text-decoration: none;
    font: var(--font-bold);
    transition: .3s ease-in-out;
}

.contact-button:hover {
    background-color: white;
    color: var(--accentred);
}

.lifely-logo {
    width: 6rem;
    padding-top: 1rem;
}

.headerpicture {
    width: 20rem;
    box-shadow: 0px 0px 10px 1px black;
}

.moto {
    font-size: 1.5rem;
    text-decoration: .25rem underline var(--accentred);
}

.AI-introduction {
    background-color: var(--lightgrey);
    padding-bottom: 1rem;
    box-shadow: 0px 0px 10px 1px black;
    font: var(--font-regular);
}

.AI-intro-text {
    padding-top: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.AI-intro-info {
    padding-left: .5rem;
}

.AI-introduction-picture {
    width: 20rem;
    height: auto;
}

.design-sprint {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-design-sprint {
    padding-left: .5rem;
}

.AI-team {
    width: 20rem;
    box-shadow: 0px 0px 10px 1px black;
}

/* .steps-section {
    background-color: var(--lightgrey);
} */


.text-steps {
    padding-left: .2rem;
    padding-top: .5rem;
    font-size: 1.5rem;
}

.the-steps {
    padding-bottom: .5rem;
}

.step-1-div, .step-2-div, .step-3-div, .step-4-div, .step-5-div {
    background-color: white;
    box-shadow: 0px 0px 10px 1px black;
    /* border-radius: 5%; */
}

.step-1, .step-2, .step-3, .step-4, .step-5 {
    color: var(--accentred);
    padding-top: 1rem;
    padding-left: .7rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.step-information {
    padding-left: .5rem;
    font: var(--font-regular);
}

.subtitle-steps {
    padding-left: .5rem;
    font-weight: bold;
}

.step-pictures {
    padding-left: .5rem;
    width: 20rem;
    padding-bottom: 2rem;
}

.previouswork {
    background-color: var(--lightgrey);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: 0px 0px 10px 1px black;
}

.previous-text {
    padding-left: .7rem;
}

.contact-appointment {
    background-color: var(--lightgrey);
    padding-top: .5rem;
    padding-left: .5rem;
    box-shadow: 0px 0px 10px 1px black;
    font: var(--font-light);
}

.contact {
    text-decoration: .25rem underline var(--accentred);
    font-size: 1.5rem;
}

.appointment-planner {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.meeting-planner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-appointment {
    width: 15rem;
    height: 2rem;
    /* border-radius: 5%; */
    background: transparent;
    border: .15rem solid black;
    margin-top: .5rem;
}

.input-appointment2 {
    width: 15rem;
    height: 4rem;
    /* border-radius: 5%; */
    background: transparent;
    border: .15rem solid black;
    margin-top: .5rem;
}

input:focus, textarea:focus {
    outline: none;
}


.send-button {
    background-color: var(--accentred);
    border: .1rem solid var(--accentred);
    /* border-radius: 1.875rem; */
    height: 2rem;
    width: 4rem;
    transition: .2s ease-in-out;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
}

.send-button:hover {
    background-color: white;
    cursor: pointer;
    color: var(--accentred);
}

.related-articles {
    background-color: var(--lightgrey);
    padding-top: 0.4rem;
    padding-bottom: 1.75rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: 0px 0px 10px 1px black;
    font: var(--font-regular);
}

.related-text {
    padding-left: .7rem;
}


.footer-information {
    background-color: var(--darkgrey);
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
}

.footer-header {
    color: white;
    padding-left: .7rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.footerlist {
    list-style: none;
    padding-left: 1rem;
    color: white;
    font-weight: lighter;
    font-size: .9rem;
    font: var(--font-light);
}

.footerlist:hover {
    color: var(--accentred);
    cursor: pointer;
}


/* @media screen and (min-width: 600px) {
    body {
      background-color: blue;
    }
  } */

@media screen and (min-width: 750px) {
    .footer-information {
        flex-direction: row;
        justify-content: center;
    }    
    .footer-header {
        margin-right: 5rem;
    }
    .input-appointment2 {
        width: 30.25rem;
    }
}

/* @media screen and (min-width: 750px) {
    .footer-header {
        margin-right: 5rem;
    }
} */